.navbar{
	background-color:#ffcc99;
}
.navbar-brand 
{
     text-align: left;
     color:#3f0c1f;
     font-size: 2.5em;
     text-transform: uppercase;
     font-weight: bold;
     text-shadow: 1px 1px 1px #222;
     margin-top: 0;
     margin-bottom: 0;
     margin-left: 0;
     line-height: .75;

}
.navbar-brand a{
	text-decoration: none;
}
.navbar-toggler{
	background-color: #3f0c1f;
	border:1px solid white;
}
.navbar-toggler-icon
{
	background-color: #3f0c1f;
	border:1px solid white;
}
nav div{
	border:2px solid #3f0c1f;
}
 nav div a {
	color:#3f0c1f;
	background-color: white;
	text-align: center;
	font-weight:bold;
	border-bottom: 2px solid #3f0c1f;
}
nav div:nth-child(3){
	border-bottom: 0;
}
h2{
	color:#3f0c1f;
	text-align: center;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 25px;
}
*{
	box-sizing: border-box;
}
.row{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
 #main div 
		{
			width: 100%;
			height: 250px;
			margin-bottom: 15px;
			position: relative;
			 overflow: hidden;
            
		}
		
#pic1:hover ,#pic2:hover ,#pic3:hover{
	box-shadow: 0 1px 5px 1px blue;
}
#pic1{
	background: url('../wall/pizza.jpg') no-repeat;
	background-position: center;
}
#pic2{
	background: url('../wall/specials8.jpg') no-repeat;
	background-position: center;
}
#pic1 span, #pic2 span ,#pic3 span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 15%;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	background-color: #000;
	color:#fff;
	opacity: .6;

}
.category-tile{
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin:0 auto 15px;
}
.category-tile span{
	position: absolute;
	bottom:0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color:#fff;
	opacity: .8;
}
.category-tile:hover{
	box-shadow: 0 1px 5px 1px blue;
}
#menu-categories-tile +div{
	margin-bottom: 50px;
}
.menu-item-tile{ 
	         width: 100%;
			height: 400px;
			margin-bottom: 15px;
			position: relative;
			overflow: hidden;
	        margin-bottom: 25px;
}
.menu-item-tile hr{
	width:80%;
}
.menu-item-tile{
	height:300px;
	font-size:1.1em;
	text-align: right;
}
.menu-item-tile span{
	font-size: .6em;
}
.menu-item-photo{
	position:relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	padding:0;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 20px;
	max-width: 350px;
	float: left;
	clear:left;
}
.menu-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #ffcc99;
	font-weight: bold;
	text-align: center;
	opacity: .8;
	border-radius: 20px;
}
.menu-item-description{
	width: 100%;
	height: 200px;
	font-weight: bold;

	color: black;
	background-color: #ffcc99;
	text-align: center;
	border: 2px solid #3f0c1f;

}
.menu-item-details{
	margin-top: 30px;
	margin-right: 20px;
}


@media screen and (min-width:992px)
{
	button,div.collapse{
		display: none;
	}
}
@media screen and (min-width:768px) and (max-width: 991px)
{
	button,div.collapse{
		display: none;
	}
}

	@media(min-width: 992px)
	{
		.col-lg-4
		{
			float:left;
			clear: left;
           
            width:33%;
            font-size: 33%;
            margin-bottom: 15px;

            }

       		
			
	}
	@media(min-width:768px) and (max-width:991px)
	{
        .col-md-6
        {
           float:left;
           margin-right:auto;
           margin-bottom: auto;
           width:50%;
           font-size:50%;
          
           }
           .col-sm-4{
           	 
           	 margin-right: 20px;
              margin-left:20px;
              width:50%;

           }
           
	}
	@media(max-width: 767px) and (min-width: 401px)
	{
	   .col-sm-12
        {
        
        	margin-bottom: 10px;
           width:95%; 
           font-size: 95%;
           margin-left: auto;
           margin-right: auto;  
           margin-bottom: 20px;
           
         
        } 
        .col-xs-6{
        	position:relative;
        	min-height: 1px;
        	padding-right: 10px;
        	padding-left: 10px;
        	float:left;
        	width:90%;
        	margin-left: auto;
        	margin-right: auto;
        }
        .menu-item-tile{
			height:400px;
		}
        .column{
			width:100%;
			height:400px;
			margin-left: auto;
			margin-right: auto;
		}
		.menu-item-photo{
			
			margin-left: 60px;
		}
       
		.menu-item-details{
			margin-right: auto;
			margin-left: auto;
		}
		h1{
			font-size: .5em;
		}

      	
	}
	@media(max-width: 400px){
		.col-xxs-12{
			position: relative;
			min-height: 1px;
			padding-right: 15px;
			padding-left: 15px;
			float:left;
			width:100%;
		}
		.menu-item-tile{
			height:400px;
		}
		.col-xxs-11{
			width:100%;
			height:400px;
			margin-left: auto;
			margin-right: auto;
		}
		.menu-item-photo{
			
			margin-left: 17px;
		}
		.menu-item-details{
			margin-right: auto;
			margin-left: auto;
		}
		h1{
			font-size: .5em;
		}
		
	}
